@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.25rem;
    font-weight: 500;
  }
  h4 {
    font-size: 1rem;
    font-weight: 400;
  }
  h5 {
    font-size: 0.875rem;
    font-weight: 300;
  }
  h6 {
    font-size: 0.75rem;
    font-weight: 200;
  }
  ul {
    list-style-type: circle; /* Dấu đầu dòng hình tròn */
    margin: 0;
    padding: 0 0 0 1rem;
  }
  ol {
    list-style-type: decimal; /* Số thứ tự dạng mặc định */
    margin: 0;
    padding: 0 0 0 1rem;
  }
  li {
    margin: 0;
    padding: 0;
  }
  blockquote {
    margin: 20px 0;
    padding: 10px 20px;
    border-left: 5px solid #ccc;
    background-color: #f9f9f9;
    font-style: italic;
  }
  a {
    color: #007BFF;
    transition: color 0.3s ease; /* Hiệu ứng chuyển màu mượt mà */
  }

  a:hover {
    color: #0056b3; /* Màu thay đổi khi hover */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
